<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828427791310-aqnf81knkrr4un7hjboikd39368gghjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828427791310-aqnf81knkrr4un7hjboikd39368gghjm</string>
	<key>API_KEY</key>
	<string>AIzaSyApZIhnuU9cN5a-aZDgRCRmf9WHXUDG2Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>828427791310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.issey.shishaLog</string>
	<key>PROJECT_ID</key>
	<string>shisha-log-e4b6f</string>
	<key>STORAGE_BUCKET</key>
	<string>shisha-log-e4b6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828427791310:ios:80b1a064b5d8970663999f</string>
	<key>DATABASE_URL</key>
	<string>https://shisha-log-e4b6f.firebaseio.com</string>
</dict>
</plist>